@page "/"
@model DapperSqlConstructor.Pages.SqlConstructModel
@{
}

<div class="row h-100">
	<div class="col-3 border-end d-flex flex-column">
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="SqlScriptFile" class="form-label">Download file with scripts</label>
                <input type="file" asp-for="SqlScriptFile" class="form-control" />
                <span asp-validation-for="SqlScriptFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ModelClassesFile" class="form-label">Download file with related models</label>
                <input type="file" asp-for="ModelClassesFile" class="form-control" />
                <span asp-validation-for="ModelClassesFile" class="text-danger"></span>
            </div>
            <div class="align-content-center">
                <input type="submit" class="btn btn-info w-25" value="Send" />
            </div>
        </form>
        <div class="container my-5">
            <h2>How it works!</h2>
            <p>
                You should load file where will be C# class (model) which describe table. In comment for table should has name of table and in 
                property comments should has a name of related column. Property for data from related table should has comment with only name of related table.
                The script for table should has only scripts for creating table. There should be only columns and foreign key without other constraint and other key words.
                You can see examples in right part of sith web page. "Example for sql scripts" - with examples for creating tables and "Example for related models" - with 
                examples for realted models.After click on the button you get the result of processing. In "Result select method" - should show the result of creating select dapper method.
                In "Result of insert methods" - show the result of creating insert methods. In "Result of update methods" - show the result of creating update methods.
                Drop columns and other key words.
            </p>
        </div>
	</div>
	<div class="col">
        @if(ViewBag.Error != null)
        {
            <div class="alert alert-danger" role="alert">
                ViewBag["Error"]
            </div>
        }
        <div class="accordion w-100" id="accordionSql">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Example for sql scripts
                    </button>
                </h2>
                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionSql">
                    <div class="accordion-body">
                        <pre>
                        <code>@Model.ExampleTableSqlScripts</code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSecond">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecond" aria-expanded="false" aria-controls="collapseSecond">
                        Example for related models
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseSecond" aria-labelledby="headingSecond" data-bs-parent="#accordionSql">
                    <div class="accordion-body">
                        <pre>
                        <code>@Model.ExampleClassModels</code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSimpleSelect">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSimpleSelect" aria-expanded="false" aria-controls="collapseSimpleSelect">
                        Result select request
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseSimpleSelect" aria-labelledby="headingSimpleSelect" data-bs-parent="#accordionSql">
                    <div class="accordion-body">
                        <pre>
                        <code>
                                @Model.SelectRequest
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThird">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThird" aria-expanded="false" aria-controls="collapseThird">
                        Result select method
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseThird" aria-labelledby="headingThird" data-bs-parent="#accordionSql">
                    <div class="accordion-body">
                        <pre>
                            <code>
                                @Model.SelectMethod
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourth">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
                        Result of insert methods
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseFourth" aria-labelledby="headingFourth" data-bs-parent="#accordionSql">
                    <div class="accordion-body">
                        <pre>
                            <code>
                                @Model.InsertsMethods
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFifth">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
                        Result of update methods
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseFifth" aria-labelledby="headingFifth" data-bs-parent="#accordionSql">
                    <div class="accordion-body">
                        <pre>
                            <code>
                                @Model.UpdateMethods
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
